.menu-active {
    color: rgb(236 72 153);
}

.ag-theme-alpine .ag-cell-focus {
    outline: none !important;
}

.ag-theme-alpine .ag-cell {
    border: none !important;
}

/*.ag-ltr .ag-cell  {*/
/*    border: none !important;*/
/*}*/

.ag-theme-alpine .clickable-cell {
    cursor: pointer;
    color: blue; /* Optional: Add styling to indicate clickable cells */
}

.right-align-header .ag-header-cell-label {
    justify-content: flex-end;
}